body {
  background: #eef;
}
h1 {
  margin-top:20px;
}
.tweet {
  border-radius:5px;
  -moz-border-radius:5px;
  margin-left:20px;
  margin-right:20px;
}
.tweet0 {
  background:#525252;
  color:#CCC;
}
.tweet1 {
  background:#CCC;
  color:#525252;
}
.match {
  background:#35299E;
  color:#CCC;
}
